USE [master]
GO
/****** Object:  Database [Pharmacy123]    Script Date: 10/25/2023 3:08:56 PM ******/
CREATE DATABASE [Pharmacy123]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pharmacy123', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pharmacy123.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pharmacy123_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pharmacy123_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pharmacy123].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pharmacy123]
GO
/****** Object:  Table [dbo].[Medic]    Script Date: 10/25/2023 3:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mid] [varchar](250) NOT NULL,
	[Mname] [varchar](250) NOT NULL,
	[Mnumber] [varchar](250) NOT NULL,
	[Mdate] [date] NULL,
	[Edate] [date] NULL,
	[Quantity] [bigint] NOT NULL,
	[Perunit] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/25/2023 3:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [varchar](50) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Dob] [varchar](250) NOT NULL,
	[Mobile] [bigint] NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Username] [varchar](250) NOT NULL,
	[Pass] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
